<div>
  <nav class="navbar navbar-light" style="background-color: #2b84c4;">
    <div class="container-fluid">
      <a class="navbar-brand" class="letra">
        <img src="../assets/img/imgDiseño/ocjma.png" alt="" width="50" height="50"
          class="d-inline-block align-text-top">
        OCJMA---
      </a>
      <form class="d-flex">
        <button class="btn btn btn-danger" type="submit">Nuevo</button>
        <a href="grid" class="letra">grid</a>
      </form>
    </div>
  </nav>
</div>

<br>
<router-outlet></router-outlet>
